body > div.notes-container > div > div > div > div > div {
    max-height: 153px !important;
    scroll:auto;
    overflow-y:scroll;
}
body > div.notes-container > div > div > div > div > div {
    zoom:0.8 !important; 
}
